# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Check out Git repository
      uses: actions/checkout@v3
      with:
        # Clone decompilation test data submodule
        submodules: true

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 8
        cache: maven

    - id: maven-build
      name: Build with Maven
      run: mvn --batch-mode --update-snapshots -Dgpg.skip=true clean verify

    - name: Upload decompilation test failures artifact
      # Only run when Maven build failed, see https://github.community/t/run-step-only-if-previous-step-failed/127124/3
      if: failure() && steps.maven-build.outcome == 'failure'
      uses: actions/upload-artifact@v2
      with:
        name: decompilation-test-failures-diff
        path: target/cfr-test-failures-diff

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/*.jar
        tag: "0.153"
        overwrite: true
        file_glob: true
